.game {
    width: 100vw;
    height: 100svh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    flex-direction: column;
    row-gap: 2%;
}

@media screen and (min-width: 550px)  {
    .game {
        width: 60vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 1050px) and (min-height: 750px) and (max-height: 1400px) {
    .game {
        width: 90vw;
    }
}