.landing_page-container {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.landing_page_content-container {
    flex-direction: column;
    gap: 2.5rem;
}

.image_logo {
    width: 80%;
}

.landing_page_video {
    min-width: 340px;
    width: 80%;
    
}

.landing_page_message-wrapper {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0rem;
}

.landing_page_message {
    font: 2rem 'CabinSketch-Regular', serif;
}

.landing_page_message_english {
    font: 1.5rem 'Nunito-Italic', serif;
}

.landing_page_copyright {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font: 0.75rem 'Nunito-Bold', serif;
}

@media screen and (min-width: 550px) {
}