.app {
    width: 97.5%;
    max-width: 1500px;
    height: 98%;
    max-height: 1250px;
    padding: 0.25rem 1rem;
    position: absolute;
    background-size: 30px 30px;
}

.app_parchment {
    position: relative;
    width: 97.5vw;
	height: 98svh;
    z-index: -2;
    margin: 0 auto;
    display: flex;
    top: -5px;
    left: -3px;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
    filter: url(#wavy2);
}

.filter {
    display: none;
    position: absolute;
    z-index: -2;
}