@font-face {
  font-family: 'Nunito-Regular';
  src: url(/fonts/Nunito-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Nunito-Bold';
	src: url(/fonts/Nunito-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'Nunito-Italic';
	src: url(/fonts/Nunito-Italic.ttf) format('truetype');
}

@font-face {
	font-family: 'CabinSketch-Regular';
	src: url(/fonts/CabinSketch-Regular.ttf) format('truetype');
}

* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
}

html {
  	font-family: -apple-system, BlinkMacSystemFont, 'Nunito-Regular', serif;
  	font-size: 100%;
  	font-synthesis: none;
 	text-rendering: optimizeLegibility;
 	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
}

body {
  	display: flex;
  	place-content: center;
  	width: 100vw;
		min-height: 100vh;
  	min-height: 100svh;
  	background: #f8d794;
}

button {
	font-family: 'Nunito-Bold', serif;
}

#root {
  	margin: auto;
  	text-align: center;
	margin-left: 1%;
}

.center {
  	text-align: center;
  	display: flex;
    flex-wrap: wrap;
    justify-content: center;
	align-items: center;
}

.ohp {
	width: 100%;
	height: 100%;
}

.ohpw {
	width: 100%;
}

.ohph {
	height: 100%;
}

.ohpv {
	width: 100%;
  	height: 100vh;
}

.link_href {
	color: black;
	text-decoration: none;
}

.cursor-wrapper {
	height: 2rem;
	width: 2rem;
	transform: translate(-50%, -50%);
	position: fixed;
	pointer-events: none;
	z-index: 30;
}

.cursor {
	width: 2rem;
	height: 2rem;
	pointer-events: none;
}

.modal {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 102vw; 
    height: 101svh; 
    background-color: rgba(0,0,0,0.5); 
}

.menu {
	width: 85%;
	max-width: 1000px;
    height: 80%;
	max-height: 1000px;
    position: relative;
    background:#fcfee6;
    border: solid black;
    border-width: 3px 3px 5px 5px;
    border-radius: 2% 95% 2% 95%/95% 4% 92% 2.5%;
    transform: rotate(-0.85deg);
}

.menu_content {
	width: 95%;
    height: 93%;
    transform: rotate(0.85deg);
}	

.menu_icon-wrapper {
    flex-direction: column;
    gap: 5px;
}

.menu_icon-wrapper p {
    font: 0.5rem 'Nunito-Bold', serif;
}

.menu_icon {
	width: 60px;
	height: 60px;
}

.menu_icon:hover {
	scale: 1.1;
}

.menu_icon:active {
	scale: 1;
}

.close_button_menu {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 0%;
    right: -1.5%;
    z-index: 1;
}

.icon:hover {
    scale: 1.25;
}

.icon:active {
    scale: 1;
}

.svg-bg {
    position: fixed;
    width: 100vw;
    height: 100svh;
    z-index: -10;
}

.out-top {
  	fill: #bbce95;
  	stroke: black;
  	stroke-width: 0.5;
}

.in-top {
  	fill: #bb6830;
  	stroke: black;
  	stroke-width: 1;
}

.out-bottom {
  	fill: #809076;
  	stroke: black;
  	stroke-width: 0.5;
}

.in-bottom {
  	fill: #bb6830;
  	stroke: black;
  	stroke-width: 1;
}

@keyframes rotate {
	0% {
      	transform: rotate(0deg);
    }
    100% {
      	transform: rotate(360deg);
    }
}

.out-top {
    animation: rotate 20s linear infinite;
    transform-origin: 13px 25px;
}
.in-top {
    animation: rotate 10s linear infinite;
    transform-origin: 13px 25px;
}
.out-bottom {
    animation: rotate 25s linear infinite;
    transform-origin: 84px 93px;
}
.in-bottom {
    animation: rotate 15s linear infinite;
    transform-origin: 84px 93px;
}

@keyframes scale {
    0%{
        scale: 0%;
    }   
    100%{
        scale: 100%;
    }
}

@keyframes fadeIn {
	0% { 
		opacity: 0; 
	}
	100% {
		opacity: 1; 
	}
}

.scale {
	animation: scale 0.4s ease-out;
}

.scale_after {
	animation: scale 0.4s 0.4s ease-in;
    animation-fill-mode: backwards;
}

@keyframes floating {
  	0% {
    transform: translate(0px, 0px) rotate(0deg);
  	}
  
  	50% {
    	transform: translate(10px, 20px) rotate(-2.5deg);
  	}
  	100% {
    	transform: translate(0px, 0px) rotate(0deg);
  	}
}

@keyframes pointDownMoveUpAndDown {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-25px);
	}
}

@keyframes pointRightMoveLeftAndRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-25px);
	}
}

@keyframes pointLeftMoveRightAndLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(25px);
	}
}

@keyframes pointUpMoveDownAndUp {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(25px);
	}
}